body {
  background-image: url('./assets/gradient.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #222;
  font-family: 'Raleway', serif;
  height: calc(100vh - 24px);
  margin: 0;
  overflow: hidden;
  padding: 24px 8px 0;
  width: calc(100vw - 16px);
}

a {
  color: inherit;
}

.theme-dark {
  color: white;
}

.theme-light {
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.theme-dark select {
  background-color: black;
  color: white;
}

.welcome * {
  background-color: rgba(255,255,255,0.8);
  border-radius: 5px;
  text-align: center;
}

.theme-dark .welcome * {
  background-color: rgba(0,0,0,0.8);
}

.links {
  align-items: center;
  border-radius: 5px;
  gap: 16px;
  display: flex;
  margin: 24px auto;
  text-align: center;
  width: fit-content;
}

.links a {
  height: 32px;
  margin-bottom: 64px;
}

.links img {
  height: 32px;
  width: 32px;
}

.profile {
  border: solid rgba(255,255,255,0.8) 8px;
  border-radius: 50%;
  height: 200px;
  margin: 0 auto 32px;
  overflow: hidden;
  width: 200px;
}

.theme-dark .profile {
  border-color: rgba(0,0,0,0.8);
}
.profile img {
  display: block;
  height: 100%;
}

.content p {
  background-color: rgba(255,255,255,0.8);
  border-radius: 5px;
  text-align: center;
}

.theme-dark .content p {
  background-color: rgba(0,0,0,0.8);
}

svg path {
  fill: white;
}

.theme-dark svg path {
  fill: black;
}

@media screen and (min-width: 600px) {
  .container {
    margin: 0 auto;
    width: 600px;
  }
}
